openapi: 3.1.0
info:
  title: Autopay Accounting Permit API
  version: 1.0.0
  description: Autopay is a Norwegian parking payment and management platform that provides APIs for parking operators, landlords, fleet managers, and third-party integrators. The platform exposes several distinct REST APIs covering parking, payment, permits, fleet, booking, customer club, statistics, accounting, vehicle status, and zone status. Authentication is OAuth 2.0 Client Credentials with access tokens minted from the authorization server.
  contact:
    name: Autopay Developer Portal
    url: https://developer.autopay.io
  license:
    name: Autopay API Usage Agreement
    url: https://developer.autopay.io
servers:
- url: https://api.autopay.io
  description: Autopay API production base URL
security:
- OAuth2: []
tags:
- name: Permit
  description: Tenant permit allocations and end-user permit lifecycle
paths:
  /permit/v3/tenant_permit_allocations:
    get:
      tags:
      - Permit
      summary: Retrieve available permit allocations
      responses:
        '200':
          description: Permit allocations
      security:
      - OAuth2: []
  /permit/v3/tenant_issued_permits:
    get:
      tags:
      - Permit
      summary: List tenant-issued permits
      parameters:
      - name: permit_allocation_id
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Tenant-issued permits
      security:
      - OAuth2: []
  /permit/v3/end_user_permit:
    post:
      tags:
      - Permit
      summary: Create a new permit for an end user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: End-user permit created
      security:
      - OAuth2: []
  /permit/v3/end_user_permit/{permit_id}:
    put:
      tags:
      - Permit
      summary: Modify validity dates on an existing permit
      parameters:
      - name: permit_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Permit modified
      security:
      - OAuth2: []
    delete:
      tags:
      - Permit
      summary: Revoke a permit
      parameters:
      - name: permit_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Permit revoked
      security:
      - OAuth2: []
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 Client Credentials flow. Tokens are minted from the Auth0 token endpoint and used as Bearer tokens with `audience` set to `https://api.autopay.io`. Some endpoints require specific scopes such as `permit_booking`, `customer_club`, or `zone_status`.
      flows:
        clientCredentials:
          tokenUrl: https://api-auth.autopay.io/oauth/token
          scopes:
            permit_booking: Required for Booking API operations
            customer_club: Required for Customer Club API operations
            zone_status: Required for Status API operations
