openapi: 3.1.0
info:
  title: Autopay Accounting Customer Club API
  version: 1.0.0
  description: Autopay is a Norwegian parking payment and management platform that provides APIs for parking operators, landlords, fleet managers, and third-party integrators. The platform exposes several distinct REST APIs covering parking, payment, permits, fleet, booking, customer club, statistics, accounting, vehicle status, and zone status. Authentication is OAuth 2.0 Client Credentials with access tokens minted from the authorization server.
  contact:
    name: Autopay Developer Portal
    url: https://developer.autopay.io
  license:
    name: Autopay API Usage Agreement
    url: https://developer.autopay.io
servers:
- url: https://api.autopay.io
  description: Autopay API production base URL
security:
- OAuth2: []
tags:
- name: Customer Club
  description: Customer club membership management
paths:
  /customer_club/v2/join:
    post:
      tags:
      - Customer Club
      summary: Add a customer to a customer club
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Membership registration created
      security:
      - OAuth2:
        - customer_club
  /customer_club/v2/status/{registrationId}:
    get:
      tags:
      - Customer Club
      summary: Get membership registration status
      parameters:
      - name: registrationId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Membership status
      security:
      - OAuth2:
        - customer_club
  /customer_club/v2/leave/{registration_id}:
    delete:
      tags:
      - Customer Club
      summary: Cancel a customer club membership
      parameters:
      - name: registration_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Membership cancelled
      security:
      - OAuth2:
        - customer_club
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 Client Credentials flow. Tokens are minted from the Auth0 token endpoint and used as Bearer tokens with `audience` set to `https://api.autopay.io`. Some endpoints require specific scopes such as `permit_booking`, `customer_club`, or `zone_status`.
      flows:
        clientCredentials:
          tokenUrl: https://api-auth.autopay.io/oauth/token
          scopes:
            permit_booking: Required for Booking API operations
            customer_club: Required for Customer Club API operations
            zone_status: Required for Status API operations
