openapi: 3.1.0
info:
  title: Autopay Accounting Booking API
  version: 1.0.0
  description: Autopay is a Norwegian parking payment and management platform that provides APIs for parking operators, landlords, fleet managers, and third-party integrators. The platform exposes several distinct REST APIs covering parking, payment, permits, fleet, booking, customer club, statistics, accounting, vehicle status, and zone status. Authentication is OAuth 2.0 Client Credentials with access tokens minted from the authorization server.
  contact:
    name: Autopay Developer Portal
    url: https://developer.autopay.io
  license:
    name: Autopay API Usage Agreement
    url: https://developer.autopay.io
servers:
- url: https://api.autopay.io
  description: Autopay API production base URL
security:
- OAuth2: []
tags:
- name: Booking
  description: Permit booking creation, modification, status, and availability
paths:
  /booking/v3/permit_definitions:
    get:
      tags:
      - Booking
      summary: List permit definitions
      responses:
        '200':
          description: Permit definitions available for booking
      security:
      - OAuth2:
        - permit_booking
  /booking/v3/availability:
    get:
      tags:
      - Booking
      summary: Check booking availability
      parameters:
      - name: valid_from
        in: query
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Availability response
      security:
      - OAuth2:
        - permit_booking
  /booking/v3/{id}/status:
    get:
      tags:
      - Booking
      summary: Get booking status
      description: Rate limited to one query per booking per 900 seconds.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Booking status
      security:
      - OAuth2:
        - permit_booking
  /booking/v3/:
    post:
      tags:
      - Booking
      summary: Create a booking
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Booking created
      security:
      - OAuth2:
        - permit_booking
  /booking/v3/{id}:
    put:
      tags:
      - Booking
      summary: Modify an existing booking
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Booking modified
      security:
      - OAuth2:
        - permit_booking
    delete:
      tags:
      - Booking
      summary: Remove an unused booking
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Booking removed
      security:
      - OAuth2:
        - permit_booking
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 Client Credentials flow. Tokens are minted from the Auth0 token endpoint and used as Bearer tokens with `audience` set to `https://api.autopay.io`. Some endpoints require specific scopes such as `permit_booking`, `customer_club`, or `zone_status`.
      flows:
        clientCredentials:
          tokenUrl: https://api-auth.autopay.io/oauth/token
          scopes:
            permit_booking: Required for Booking API operations
            customer_club: Required for Customer Club API operations
            zone_status: Required for Status API operations
